@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #E8DBD2, #E5DEC4);
}
main {
    background-color: white;
    border-radius: 10px;
    /*box-shadow é a sombra que esta em #AB907F*/
    box-shadow: 5px 5px 15px #AB907F;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #AB907F;
    text-align: center;
    text-shadow: 1px 1px 2px #ab907f95;
}
h2 {
    color: #b6ac99;
}

p {
    text-align: justify;
}